<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Login and Registration Form</title>
    <link rel="stylesheet" href="/static/registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/static/Images/registrationimg.jpg" alt="img">
        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img src="/static/Images/registrationimg.jpg" alt="img">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <!-- Login Form -->
        <div class="login-form">
          <div class="title">Login</div>
          <form action="/login" method="POST">
            <div class="input-boxes">
              <div class="input-box">
                <input type="text" name="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <input type="password" name="password" placeholder="Enter your password" required>
              </div>
              <div class="text"><a href="/forgot">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
            </div>
          </form>
        </div>
        <!-- Signup Form -->
        <div class="signup-form">
          <div class="title">Signup</div>
          <form action="/signup" method="POST">
            <div class="input-boxes">
              <div class="input-box">
                <input type="text" name="name" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <input type="text" name="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <input type="password" name="password" placeholder="Enter your password" required>
              </div>
              <label for="academicYear">Academic Year:</label>
              <select id="academicYear" name="academicYear" required>
                <option value="">Select</option>
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="Alumni">Alumni</option>
              </select>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 
</body>

</html>
